[submodule ".vim/pack/bundle/opt/vim-scriptease"]
	path = .vim/pack/bundle/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule ".vim/pack/bundle/start/.vim/pack/bundle/start/racer"]
	path = .vim/pack/bundle/start/.vim/pack/bundle/start/racer
	url = https://github.com/racer-rust/racer.git
[submodule ".vim/pack/bundle/start/racer"]
	path = .vim/pack/bundle/start/racer
	url = https://github.com/racer-rust/racer.git
